*{
    margin-left: 0px;
    margin-right: 0px;
    background-color: #F7D08A
}

main p{
    text-align: justify;
    color: var(--black)
}

h1{
    color:#272727;
    font-size: 32px;
    position: fixed;
    left: 645px;
    bottom: 880px;
    margin: 18px;
}

.i1{
    position: relative;
    left: 31%;
    top: 45px;
}

.colunas {
    column-count: 3;
}

blockquote{
    float: right;
    width: 200px;
    padding: 15px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    margin-left: 15px;
    text-align: justify;
}

:root{
    --black: rgb(112, 1, 1);
}

.i2 {
    float: right;
    width: 200px;
    padding: 15px;
    margin-left: 15px;
    text-align: justify;
    animation-name: slide-in;
    animation-duration: 10s;
    animation-direction: alternate
}

@keyframes slide-in {
    from {
      transform: translateX(100%);
    }
  
    to {
      transform: translateX(0%);
    }
}

.i1:hover{
    width: fit-content;
}

header ul{
    position: relative;
    left: 36%;
    top: 45px;
    display: flex;
    flex: 1;
    padding: 0px;
}

header ul li{
    margin-left: 15px;
    padding-left: 15px;
    list-style: none;
}

*{
    box-sizing: border-box;
    margin: 0px;
    font-family: monospace;
    background-color: #F7D08A;
}

.row::after{
    content: "";
    clear: both;
    display: flex;
}

/*Smartphone*/
[class*="col-"]{
    float: left;
    width: 100%;
    padding: 40px;
}

main{
    flex-direction: column;
}

@media only screen and (min-width: 600px){
    /*Tablet*/
    main{
        flex-direction: row;
    }
    .col-s-1{
        width: 8.33%;
    }
    .col-s-2{
        width: 16.66%;
    }
    .col-s-3{
        width: 25%;
    }
    .col-s-4{
        width: 33.33%;
    }
    .col-s-5{
        width: 41.66%;
    }
    .col-s-6{
        width: 50%;
    }
    .col-s-7{
        width: 58.33%;
    }
    .col-s-8{
        width: 66.66%;
    }
    .col-s-9{
        width: 75%;
    }
    .col-s-10{
        width: 83.33%;
    }
    .col-s-11{
        width: 91.66%;
    }
    .col-s-12{
        width: 100%;
    }
}

@media only screen and (min-width: 700px){
    /*Desktop*/
    .col-1{
        width: 8.33%;
    }
    .col-2{
        width: 16.66%;
    }
    .col-3{
        width: 25%;
    }
    .col-4{
        width: 33.33%;
    }
    .col-5{
        width: 41.66%;
    }
    .col-6{
        width: 50%;
    }
    .col-7{
        width: 58.33%;
    }
    .col-8{
        width: 66.66%;
    }
    .col-9{
        width: 75%;
    }
    .col-10{
        width: 83.33%;
    }
    .col-11{
        width: 91.66%;
    }
    .col-12{
        width: 100%;
    }
}